body
  :background-color #fff
  :color #000
  :margin 0
  :padding 0
  :text-align center
  :font-family "Helvetica Neue", Helvetica, "Swis721 BT", Arial, "sans-serif"
  :font-size 14px

#yes
  :text-align center
  :padding-top 200px
  :font
    :weight bold
    :size 120pt
  
.wrapper
  :width 800px
  :margin 0 auto
  :padding 0
  :text-align left
  
a
  :color #c31c1c
  :text-decoration none

a:hover
  :text-decoration underline

p
  :line-height 20px
  :text-align justify