%option{:value => ''} 
%option{:value => 'International Date Line West'} International Date Line West
%option{:value => 'Midway Island'} Midway Island
%option{:value => 'Samoa'} Samoa
%option{:value => 'Hawaii'} Hawaii
%option{:value => 'Alaska'} Alaska
%option{:value => 'Pacific Time (US &amp; Canada)'} Pacific Time (US &amp; Canada)
%option{:value => 'Tijuana'} Tijuana
%option{:value => 'Arizona'} Arizona
%option{:value => 'Chihuahua'} Chihuahua
%option{:value => 'Mazatlan'} Mazatlan
%option{:value => 'Mountain Time (US &amp; Canada)'} Mountain Time (US &amp; Canada)
%option{:value => 'Central America'} Central America
%option{:value => 'Central Time (US &amp; Canada)'} Central Time (US &amp; Canada)
%option{:value => 'Guadalajara'} Guadalajara
%option{:value => 'Mexico City'} Mexico City
%option{:value => 'Monterrey'} Monterrey
%option{:value => 'Saskatchewan'} Saskatchewan
%option{:value => 'Bogota'} Bogota
%option{:value => 'Eastern Time (US &amp; Canada)'} Eastern Time (US &amp; Canada)
%option{:value => 'Indiana (East)'} Indiana (East)
%option{:value => 'Lima'} Lima
%option{:value => 'Quito'} Quito
%option{:value => 'Caracas'} Caracas
%option{:value => 'Atlantic Time (Canada)'} Atlantic Time (Canada)
%option{:value => 'La Paz'} La Paz
%option{:value => 'Santiago'} Santiago
%option{:value => 'Newfoundland'} Newfoundland
%option{:value => 'Brasilia'} Brasilia
%option{:value => 'Buenos Aires'} Buenos Aires
%option{:value => 'Georgetown'} Georgetown
%option{:value => 'Greenland'} Greenland
%option{:value => 'Mid-Atlantic'} Mid-Atlantic
%option{:value => 'Azores'} Azores
%option{:value => 'Cape Verde Is.'} Cape Verde Is.
%option{:value => 'Casablanca'} Casablanca
%option{:value => 'Dublin'} Dublin
%option{:value => 'Edinburgh'} Edinburgh
%option{:value => 'Lisbon'} Lisbon
%option{:value => 'London'} London
%option{:value => 'Monrovia'} Monrovia
%option{:value => 'UTC'} UTC
%option{:value => 'Amsterdam'} Amsterdam
%option{:value => 'Belgrade'} Belgrade
%option{:value => 'Berlin'} Berlin
%option{:value => 'Bern'} Bern
%option{:value => 'Bratislava'} Bratislava
%option{:value => 'Brussels'} Brussels
%option{:value => 'Budapest'} Budapest
%option{:value => 'Copenhagen'} Copenhagen
%option{:value => 'Ljubljana'} Ljubljana
%option{:value => 'Madrid'} Madrid
%option{:value => 'Paris'} Paris
%option{:value => 'Prague'} Prague
%option{:value => 'Rome'} Rome
%option{:value => 'Sarajevo'} Sarajevo
%option{:value => 'Skopje'} Skopje
%option{:value => 'Stockholm'} Stockholm
%option{:value => 'Vienna'} Vienna
%option{:value => 'Warsaw'} Warsaw
%option{:value => 'West Central Africa'} West Central Africa
%option{:value => 'Zagreb'} Zagreb
%option{:value => 'Athens'} Athens
%option{:value => 'Bucharest'} Bucharest
%option{:value => 'Cairo'} Cairo
%option{:value => 'Harare'} Harare
%option{:value => 'Helsinki'} Helsinki
%option{:value => 'Istanbul'} Istanbul
%option{:value => 'Jerusalem'} Jerusalem
%option{:value => 'Kyev'} Kyev
%option{:value => 'Minsk'} Minsk
%option{:value => 'Pretoria'} Pretoria
%option{:value => 'Riga'} Riga
%option{:value => 'Sofia'} Sofia
%option{:value => 'Tallinn'} Tallinn
%option{:value => 'Vilnius'} Vilnius
%option{:value => 'Baghdad'} Baghdad
%option{:value => 'Kuwait'} Kuwait
%option{:value => 'Moscow'} Moscow
%option{:value => 'Nairobi'} Nairobi
%option{:value => 'Riyadh'} Riyadh
%option{:value => 'St. Petersburg'} St. Petersburg
%option{:value => 'Volgograd'} Volgograd
%option{:value => 'Tehran'} Tehran
%option{:value => 'Abu Dhabi'} Abu Dhabi
%option{:value => 'Baku'} Baku
%option{:value => 'Muscat'} Muscat
%option{:value => 'Tbilisi'} Tbilisi
%option{:value => 'Yerevan'} Yerevan
%option{:value => 'Kabul'} Kabul
%option{:value => 'Ekaterinburg'} Ekaterinburg
%option{:value => 'Islamabad'} Islamabad
%option{:value => 'Karachi'} Karachi
%option{:value => 'Tashkent'} Tashkent
%option{:value => 'Chennai'} Chennai
%option{:value => 'Kolkata'} Kolkata
%option{:value => 'Mumbai'} Mumbai
%option{:value => 'New Delhi'} New Delhi
%option{:value => 'Sri Jayawardenepura'} Sri Jayawardenepura
%option{:value => 'Kathmandu'} Kathmandu
%option{:value => 'Almaty'} Almaty
%option{:value => 'Astana'} Astana
%option{:value => 'Dhaka'} Dhaka
%option{:value => 'Novosibirsk'} Novosibirsk
%option{:value => 'Rangoon'} Rangoon
%option{:value => 'Bangkok'} Bangkok
%option{:value => 'Hanoi'} Hanoi
%option{:value => 'Jakarta'} Jakarta
%option{:value => 'Krasnoyarsk'} Krasnoyarsk
%option{:value => 'Beijing'} Beijing
%option{:value => 'Chongqing'} Chongqing
%option{:value => 'Hong Kong'} Hong Kong
%option{:value => 'Irkutsk'} Irkutsk
%option{:value => 'Kuala Lumpur'} Kuala Lumpur
%option{:value => 'Perth'} Perth
%option{:value => 'Singapore'} Singapore
%option{:value => 'Taipei'} Taipei
%option{:value => 'Ulaan Bataar'} Ulaan Bataar
%option{:value => 'Urumqi'} Urumqi
%option{:value => 'Osaka'} Osaka
%option{:value => 'Sapporo'} Sapporo
%option{:value => 'Seoul'} Seoul
%option{:value => 'Tokyo'} Tokyo
%option{:value => 'Yakutsk'} Yakutsk
%option{:value => 'Adelaide'} Adelaide
%option{:value => 'Darwin'} Darwin
%option{:value => 'Brisbane'} Brisbane
%option{:value => 'Canberra'} Canberra
%option{:value => 'Guam'} Guam
%option{:value => 'Hobart'} Hobart
%option{:value => 'Melbourne'} Melbourne
%option{:value => 'Port Moresby'} Port Moresby
%option{:value => 'Sydney'} Sydney
%option{:value => 'Vladivostok'} Vladivostok
%option{:value => 'Magadan'} Magadan
%option{:value => 'New Caledonia'} New Caledonia
%option{:value => 'Solomon Is.'} Solomon Is.
%option{:value => 'Auckland'} Auckland
%option{:value => 'Fiji'} Fiji
%option{:value => 'Kamchatka'} Kamchatka
%option{:value => 'Marshall Is.'} Marshall Is.
%option{:value => 'Wellington'} Wellington
%option{:value => "Nuku'alofa"} Nuku'alofa