#yes yes

#custom
  = surround '(', ')' do
    Always, but you can
    %a{:href => '#team'} customise

#team{:style => 'display: none;'}
  %form{:action => '/teams', :method => 'post'}
    %label{:for => 'name'} Team name
    %input{:id => 'name', :name => 'team[name]', :type => 'text'}
    %button{:type => 'submit'} Go
  #flash_error{:style => 'display: none;'}