-# #yes yes
-# 
-# #byline
-#   = surround '(', ')' do
-#     Always, but you can
-#     %a{:href => '#custom'} customise
-# 
-# #custom{:style => 'display: none;'}
#custom
  %form{:action => '/teams', :method => 'post'}
    .form_line
      %label{:for => 'name'} isitcoffeetime.com/
      %input{:id => 'name', :name => 'team[name]', :type => 'text'}
    .form_line
      %label{:for => 'time_zone'} Time Zone
      %select{:id => 'time_zone', :name => 'team[time_zone]'}
        = haml(:_time_zones, :layout => false)
    .form_line
      %label{:for => 'twitter_account'} Twitter Account
      %input{:id => 'twitter_account', :name => 'team[twitter_account]', :type => 'text'}
    %div
      %button{:type => 'submit'} Submit
  #flash_error{:style => 'display: none;'}