#yes yes

#byline
  = surround '(', ')' do
    Always, but you can
    %a{:href => '#custom'} customise

#custom{:style => 'display: none;'}
  %form{:action => '/teams', :method => 'post'}
    .form_line
      %label{:for => 'name'} isitcoffeetime.com/
      %input{:id => 'name', :name => 'team[name]', :type => 'text'}
    .form_line
      %label{:for => 'timezone'} Timezone
      %input{:id => 'timezone', :name => 'team[timezone]', :type => 'text'}
    .form_line
      %label{:for => 'owner'} Owner
      %input{:id => 'owner', :name => 'team[owner]', :type => 'text'}
    %div
      %button{:type => 'submit'} Make it coffee time
  #flash_error{:style => 'display: none;'}