#yes yes

#byline
  = surround '(', ')' do
    Always, but you can
    %a{:href => '#custom'} customise

#custom{:style => 'display: none;'}
  %form{:action => '/teams', :method => 'post'}
    .form_line
      %label{:for => 'name'} isitcoffeetime.com/
      %input{:id => 'name', :name => 'team[name]', :type => 'text'}
    .form_line
      %label{:for => 'timezone'} Timezone
      %select{:id => 'timezone', :name => 'team[timezone]'}
        = haml(:_time_zones, :layout => false)
    .form_line
      %label{:for => 'twitter_account'} Twitter Account
      %input{:id => 'twitter_account', :name => 'team[twitter_account]', :type => 'text'}
    %div
      %button{:type => 'submit'} Start making it coffee time
  #flash_error{:style => 'display: none;'}