!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Is it coffee time?
    %link{:href => '/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/javascripts/code_highlighter.js', :type => 'text/javascript'}

  %body
    = yield

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-8998734-1");
        pageTracker._trackPageview();
      } catch(err) {};